Reemplazo de strings por categorías
===

* Ultima actualización: Marzo 6, 2023 | [YouTube](https://www.youtube.com/watch?v=4DzusT3Nl-Q&list=PLEFpZ3YehTnDX6z1fx4rT0wkt80ythBhc&index=9)

In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.23.5
1.5.2

In [2]:
%%writefile /tmp/data.csv
vehicle
trailblazer
spark
bolt ev
trax
equinox
blazer
beat
joy
trailblazer
spark
bolt ev
traverse
bolt euv
tahoe
malibu
suburban
onix
trax
bolt ev
trax
equinox
blazer
equinox
blazer
beat
joy
traverse

Overwriting /tmp/data.csv

In [3]:
df = pd.read_csv("/tmp/data.csv")

#
# Categorias
#
mapping = {
    "beat": "Cars",
    "blazer": "SUVs",
    "bolt euv": "Electric",
    "bolt ev": "Electric",
    "equinox": "SUVs",
    "joy": "Cars",
    "malibu": "Cars",
    "onix": "Cars",
    "spark": "Cars",
    "suburban": "SUVs",
    "tahoe": "SUVs",
    "trailblazer": "SUVs", 
    "traverse": "SUVs",
    "trax": "SUVs",
}

df['category'] = df.vehicle.replace(mapping)
df

        vehicle  category
0   trailblazer      SUVs
1         spark      Cars
2       bolt ev  Electric
3          trax      SUVs
4       equinox      SUVs
5        blazer      SUVs
6          beat      Cars
7           joy      Cars
8   trailblazer      SUVs
9         spark      Cars
10      bolt ev  Electric
11     traverse      SUVs
12     bolt euv  Electric
13        tahoe      SUVs
14       malibu      Cars
15     suburban      SUVs
16         onix      Cars
17         trax      SUVs
18      bolt ev  Electric
19         trax      SUVs
20      equinox      SUVs
21       blazer      SUVs
22      equinox      SUVs
23       blazer      SUVs
24         beat      Cars
25          joy      Cars
26     traverse      SUVs